<nav id="nav" class='@(IsMenuClosed ? "nav-min" : string.Empty)'>
    <ul>
        <li>
            <NavLink href="/comparisons">
                <Icon Name="Icons.IconBudgets" />
                <span>
                    Comparaciones
                </span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/bags" bags>
                <Icon Name="Icons.IconBudgets" />
                <span>
                    Bolsas
                </span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/providers">
                <Icon Name="Icons.IconProviders" />
                <span>
                    Proveedores
                </span>
            </NavLink>
        </li>
    </ul>
</nav>

@code{
    [Parameter] public bool IsMenuClosed { get; set; }
}