<nav id="nav" class='@(IsMenuClosed ? "nav-min" : string.Empty)'>
    <ul>
        <li>
            <NavLink href="/admin/transactions">
                <Icon Name="Icons.Transactions" />
                <span>
                    Transacciones
                </span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/admin/products">
                <Icon Name="Icons.Products" />
                <span>
                    Productos
                </span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/admin/products">
                <Icon Name="Icons.IconUsers" />
                <span>
                    Usuarios
                </span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/products">
                <Icon Name="Icons.Products" />
                <span>
                    Productos
                </span>
            </NavLink>
        </li>
    </ul>
</nav>

@code{
    [Parameter] public bool IsMenuClosed { get; set; }
}