@inject NavigationManager Navigation

<div class="over-close" @onclick="Close"></div>
<div id="user-float-options">
    <button @onclick='()=>Navigate("/change-password")'>
        <Icon Name="Icons.IconChangePassword" />
        Cambiar contraseña
    </button>
    <NavLink href="/logout">
        <Icon Name="Icons.IconLogout" />
        Salir
    </NavLink>
</div> 

@code{
    [Parameter] public EventCallback Close { get; set; }

    private async void Navigate(string route)
    {
        Navigation.NavigateTo(route);
        await Close.InvokeAsync();
    }
}